root = "."
tmp_dir = "bin"

[build]
args_bin = []

## Windows Configuration
bin = ".\\bin\\main.exe"
cmd = "templ generate ; npm run build ; go build -tags local -o ./bin/main.exe ./cmd/main"

## MacOS/Linux Configuration
#bin = "./bin/main.exe"
#cmd = "templ generate && npm run build && go build -tags local -o ./bin/main.exe ./cmd/main"

delay = 1000
exclude_dir = ["tmp", "bin", "node_modules", ".git"]
exclude_file = []
exclude_regex = ["_templ.go"]
exclude_unchanged = false
follow_symlink = false
include_dir = []
include_ext = ["go", "html", "css", "js", "templ", "env"]
include_file = []
kill_delay = "0s"
log = "build-errors.log"
poll = false
poll_interval = 0
post_cmd = []
pre_cmd = []
rerun = false
rerun_delay = 500
send_interrupt = false
stop_on_error = false
shell = "cmd"

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
time = false

[misc]
clean_on_exit = false

[screen]
clear_on_rebuild = false
keep_scroll = true