package templates

templ Header() {
    <header class="flex flex-row items-center bg-white border-b-2 border-gray-300 gap-2 px-2 col-span-2">
        <img src="/views/assets/icon.png" alt="" height="80" width="80" />
        <h1 class="text-4xl font-bold capitalize">TUDO.TOOLS</h1>
    </header>
}