package views_convert

import "tudo-tools/templates"
import "tudo-tools/views/components"
import "tudo-tools/views/constants"


templ Distance(htmxReq bool) {
    {{options := constants.GetDistanceConverterOptions()}}

    @templates.Base("", htmxReq) {
        @components.ConverterForm("Distance converter", "multiply", "0.0001", options, options)
    }
}